.task-node-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-toggle {
  position: absolute;
  top: -25px; 
  right: 0px; 
  z-index: 10;
  background-color: #ffffff77; 
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  padding: 4px; 
}

.task-node {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: #fff;
  border: 2px solid #d32f2f; 
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
  max-width: 300px;
  word-wrap: break-word;
  overflow: hidden; 
}

.task-label {
  flex-grow: 1;
  margin-right: 8px;
  text-align: left;
  white-space: pre-wrap;
  word-break: break-word; 
  font-size: 0.9rem;
  color: #333;
}

.done {
  background-color: #e8f5e9;
  border-color: #66bb6a;
}

.not-done {
  background-color: #ffebee; 
  border-color: #ef5350;
}
